
.add {
  margin: 2% -3%;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  color: black;
  display:block;
  margin: 0 auto;
  padding-bottom: 10px;
}

ul,li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.btnDevour {
  background: black;
  font-weight: bold;
  color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
  padding-bottom: 12px;
}

.burgerType {
  font-size: 25px;
  color: black;
  padding-top: 12px;
}

#btnCreate {
  display: block;
  margin: 0 auto;
  background: black;
  color: black;
  font-weight: bold;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

#textArea {
  color: black;
}

